---
interface Props {
  icon: string
  label: string
}

const { icon, label } = Astro.props
---

<div class="flex w-20 cursor-pointer flex-col items-center gap-1 rounded-lg p-2 hover:bg-white/20">
  <span class="material-symbols-outlined text-5xl text-white drop-shadow-lg">{icon}</span>
  <span class="text-center text-xs font-medium text-white drop-shadow-md">{label}</span>
</div>
